<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo">
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction
Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones. 

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage. 


Therefore if we can determine if the first stage will land, we can determine the cost of a launch. 

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

 <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv" target="_blank">Spacex DataSet</a>

In [6]:
#!pip install sqlalchemy==1.3.9

Collecting sqlalchemy==1.3.9
  Downloading SQLAlchemy-1.3.9.tar.gz (6.0 MB)
     ---------------------------------------- 0.0/6.0 MB ? eta -:--:--
     ---------------------------------------- 0.0/6.0 MB ? eta -:--:--
     ---------------------------------------- 0.0/6.0 MB ? eta -:--:--
     ---------------------------------------- 0.0/6.0 MB ? eta -:--:--
     ---------------------------------------- 0.0/6.0 MB 163.8 kB/s eta 0:00:37
     ---------------------------------------- 0.0/6.0 MB 151.3 kB/s eta 0:00:40
     ---------------------------------------- 0.1/6.0 MB 218.8 kB/s eta 0:00:27
      --------------------------------------- 0.1/6.0 MB 379.3 kB/s eta 0:00:16
     - -------------------------------------- 0.2/6.0 MB 656.8 kB/s eta 0:00:09
     -- ------------------------------------- 0.3/6.0 MB 787.7 kB/s eta 0:00:08
     --- ------------------------------------ 0.5/6.0 MB 1.0 MB/s eta 0:00:06
     --- ------------------------------------ 0.6/6.0 MB 1.1 MB/s eta 0:00:05
     ---- ----------------------------------- 0.7/6.0 MB 1.4 MB/s eta 0:00:04
     ------ --------------------------------- 0.9/6.0 MB 1.6 MB/s eta 0:00:04
     ------- -------------------------------- 1.1/6.0 MB 1.8 MB/s eta 0:00:03
     -------- ------------------------------- 1.3/6.0 MB 1.9 MB/s eta 0:00:03
     --------- ------------------------------ 1.5/6.0 MB 2.0 MB/s eta 0:00:03
     ----------- ---------------------------- 1.7/6.0 MB 2.2 MB/s eta 0:00:02
     ------------ --------------------------- 1.8/6.0 MB 2.3 MB/s eta 0:00:02
     ------------- -------------------------- 2.0/6.0 MB 2.3 MB/s eta 0:00:02
     -------------- ------------------------- 2.2/6.0 MB 2.5 MB/s eta 0:00:02
     --------------- ------------------------ 2.4/6.0 MB 2.5 MB/s eta 0:00:02
     ----------------- ---------------------- 2.5/6.0 MB 2.6 MB/s eta 0:00:02
     ------------------ --------------------- 2.8/6.0 MB 2.7 MB/s eta 0:00:02
     ------------------- -------------------- 2.9/6.0 MB 2.7 MB/s eta 0:00:02
     -------------------- ------------------- 3.1/6.0 MB 2.8 MB/s eta 0:00:02
     --------------------- ------------------ 3.1/6.0 MB 2.7 MB/s eta 0:00:02
     --------------------- ------------------ 3.3/6.0 MB 2.7 MB/s eta 0:00:02
     ----------------------- ---------------- 3.5/6.0 MB 2.7 MB/s eta 0:00:01
     ------------------------ --------------- 3.7/6.0 MB 2.8 MB/s eta 0:00:01
     -------------------------- ------------- 3.9/6.0 MB 2.8 MB/s eta 0:00:01
     --------------------------- ------------ 4.1/6.0 MB 2.9 MB/s eta 0:00:01
     --------------------------- ------------ 4.1/6.0 MB 2.8 MB/s eta 0:00:01
     --------------------------- ------------ 4.1/6.0 MB 2.8 MB/s eta 0:00:01
     --------------------------- ------------ 4.1/6.0 MB 2.8 MB/s eta 0:00:01
     --------------------------- ------------ 4.1/6.0 MB 2.8 MB/s eta 0:00:01
     --------------------------- ------------ 4.2/6.0 MB 2.5 MB/s eta 0:00:01
     --------------------------- ------------ 4.2/6.0 MB 2.5 MB/s eta 0:00:01
     --------------------------- ------------ 4.2/6.0 MB 2.5 MB/s eta 0:00:01
     ----------------------------- ---------- 4.4/6.0 MB 2.4 MB/s eta 0:00:01
     --------------------------------- ------ 5.0/6.0 MB 2.7 MB/s eta 0:00:01
     ------------------------------------- -- 5.6/6.0 MB 3.0 MB/s eta 0:00:01
     ---------------------------------------  5.9/6.0 MB 3.0 MB/s eta 0:00:01
     ---------------------------------------  6.0/6.0 MB 3.0 MB/s eta 0:00:01
     ---------------------------------------- 6.0/6.0 MB 3.0 MB/s eta 0:00:00
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Building wheels for collected packages: sqlalchemy
  Building wheel for sqlalchemy (setup.py): started
  Building wheel for sqlalchemy (setup.py): finished with status 'done'
  Created wheel for sqlalchemy: filename=SQLAlchemy-1.3.9-cp311-cp311-win_amd64.whl size=1163541 sha256=1d8c4a7603ab1d4ab1597e9fb56df5935786569f9a5ea16b039640f48560fdf3
  Stored in directory: c:\users\pc\appdata\local\pip\cache\wheels\3a\7c\1e\12404784a68083eb969f877a1808a1847bab897684b56ddc55
Successfully built sqlalchemy
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.4.39
    Uninstalling SQLAlchemy-1.4.39:
      Successfully uninstalled SQLAlchemy-1.4.39
Successfully installed sqlalchemy-1.3.9

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [8]:
#Please uncomment and execute the code below if you are working locally.

#!pip install ipython-sql

Collecting ipython-sql
  Obtaining dependency information for ipython-sql from https://files.pythonhosted.org/packages/30/8f/9e50fa53ffc371483f9d1b90c1175b706d28a2e978e90a8894035af01905/ipython_sql-0.5.0-py3-none-any.whl.metadata
  Downloading ipython_sql-0.5.0-py3-none-any.whl.metadata (17 kB)
Collecting prettytable (from ipython-sql)
  Obtaining dependency information for prettytable from https://files.pythonhosted.org/packages/3d/c4/a32f4bf44faf95accbbd5d7864ddef9e289749a8efbc3adaad4a4671779a/prettytable-3.10.0-py3-none-any.whl.metadata
  Downloading prettytable-3.10.0-py3-none-any.whl.metadata (30 kB)
Requirement already satisfied: ipython in c:\users\pc\anaconda3\lib\site-packages (from ipython-sql) (8.15.0)
Collecting sqlalchemy>=2.0 (from ipython-sql)
  Obtaining dependency information for sqlalchemy>=2.0 from https://files.pythonhosted.org/packages/4b/f8/c1fe26782e875a952f1bad265034185dbd888f6c55d4bb5f0f515e172b8d/SQLAlchemy-2.0.28-cp311-cp311-win_amd64.whl.metadata
  Downloading SQLAlchemy-2.0.28-cp311-cp311-win_amd64.whl.metadata (9.8 kB)
Collecting sqlparse (from ipython-sql)
  Obtaining dependency information for sqlparse from https://files.pythonhosted.org/packages/98/5a/66d7c9305baa9f11857f247d4ba761402cea75db6058ff850ed7128957b7/sqlparse-0.4.4-py3-none-any.whl.metadata
  Downloading sqlparse-0.4.4-py3-none-any.whl.metadata (4.0 kB)
Requirement already satisfied: six in c:\users\pc\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in c:\users\pc\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\pc\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.7.1)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\pc\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (2.0.1)
Requirement already satisfied: backcall in c:\users\pc\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: decorator in c:\users\pc\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\pc\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.18.1)
Requirement already satisfied: matplotlib-inline in c:\users\pc\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: pickleshare in c:\users\pc\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30 in c:\users\pc\anaconda3\lib\site-packages (from ipython->ipython-sql) (3.0.36)
Requirement already satisfied: pygments>=2.4.0 in c:\users\pc\anaconda3\lib\site-packages (from ipython->ipython-sql) (2.15.1)
Requirement already satisfied: stack-data in c:\users\pc\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5 in c:\users\pc\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.7.1)
Requirement already satisfied: colorama in c:\users\pc\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: wcwidth in c:\users\pc\anaconda3\lib\site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\pc\anaconda3\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: executing in c:\users\pc\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in c:\users\pc\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in c:\users\pc\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Downloading ipython_sql-0.5.0-py3-none-any.whl (20 kB)
Downloading SQLAlchemy-2.0.28-cp311-cp311-win_amd64.whl (2.1 MB)
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
    --------------------------------------- 0.0/2.1 MB 1.9 MB/s eta 0:00:02
   - -------------------------------------- 0.1/2.1 MB 1.1 MB/s eta 0:00:02
   -- ------------------------------------- 0.1/2.1 MB 1.1 MB/s eta 0:00:02
   -- ------------------------------------- 0.2/2.1 MB 913.1 kB/s eta 0:00:03
   -- ------------------------------------- 0.2/2.1 MB 913.1 kB/s eta 0:00:03
   --- ------------------------------------ 0.2/2.1 MB 581.0 kB/s eta 0:00:04
   ---- ----------------------------------- 0.2/2.1 MB 724.0 kB/s eta 0:00:03
   ---- ----------------------------------- 0.3/2.1 MB 655.4 kB/s eta 0:00:03
   ----- ---------------------------------- 0.3/2.1 MB 655.5 kB/s eta 0:00:03
   ------ --------------------------------- 0.4/2.1 MB 717.9 kB/s eta 0:00:03
   -------- ------------------------------- 0.4/2.1 MB 748.8 kB/s eta 0:00:03
   --------- ------------------------------ 0.5/2.1 MB 793.0 kB/s eta 0:00:03
   ---------- ----------------------------- 0.6/2.1 MB 862.7 kB/s eta 0:00:02
   ----------- ---------------------------- 0.6/2.1 MB 878.1 kB/s eta 0:00:02
   ------------- -------------------------- 0.7/2.1 MB 933.4 kB/s eta 0:00:02
   -------------- ------------------------- 0.7/2.1 MB 942.8 kB/s eta 0:00:02
   --------------- ------------------------ 0.8/2.1 MB 989.4 kB/s eta 0:00:02
   ----------------- ---------------------- 0.9/2.1 MB 1.0 MB/s eta 0:00:02
   ------------------- -------------------- 1.0/2.1 MB 1.1 MB/s eta 0:00:01
   --------------------- ------------------ 1.1/2.1 MB 1.1 MB/s eta 0:00:01
   ----------------------- ---------------- 1.2/2.1 MB 1.2 MB/s eta 0:00:01
   ----------------------- ---------------- 1.2/2.1 MB 1.2 MB/s eta 0:00:01
   -------------------------- ------------- 1.4/2.1 MB 1.2 MB/s eta 0:00:01
   --------------------------- ------------ 1.4/2.1 MB 1.2 MB/s eta 0:00:01
   ----------------------------- ---------- 1.5/2.1 MB 1.3 MB/s eta 0:00:01
   ------------------------------- -------- 1.7/2.1 MB 1.3 MB/s eta 0:00:01
   -------------------------------- ------- 1.7/2.1 MB 1.3 MB/s eta 0:00:01
   ----------------------------------- ---- 1.8/2.1 MB 1.4 MB/s eta 0:00:01
   ------------------------------------- -- 2.0/2.1 MB 1.4 MB/s eta 0:00:01
   ---------------------------------------  2.1/2.1 MB 1.4 MB/s eta 0:00:01
   ---------------------------------------- 2.1/2.1 MB 1.4 MB/s eta 0:00:00
Downloading prettytable-3.10.0-py3-none-any.whl (28 kB)
Downloading sqlparse-0.4.4-py3-none-any.whl (41 kB)
   ---------------------------------------- 0.0/41.2 kB ? eta -:--:--
   ---------------------------------------- 41.2/41.2 kB 1.9 MB/s eta 0:00:00
Installing collected packages: sqlparse, sqlalchemy, prettytable, ipython-sql
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.3.9
    Uninstalling SQLAlchemy-1.3.9:
      Successfully uninstalled SQLAlchemy-1.3.9
Successfully installed ipython-sql-0.5.0 prettytable-3.10.0 sqlalchemy-2.0.28 sqlparse-0.4.4

In [1]:
%load_ext sql

In [2]:
import csv, sqlite3

con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [ ]:
#!pip install -q pandas==1.1.5

In [3]:
%sql sqlite:///my_data1.db

In [4]:
import pandas as pd
df = pd.read_csv("D:\Mohamed\Coursera\Capstone\Data Exploratory Analysis\Spacex.csv")

101

In [5]:
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

101

**Note:This below code is added to remove blank rows from table**

In [6]:
%sql create table SPACEXTABLE as select * from SPACEXTBL where Date is not null

 * sqlite:///my_data1.db
(sqlite3.OperationalError) table SPACEXTABLE already exists
[SQL: create table SPACEXTABLE as select * from SPACEXTBL where Date is not null]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case enclose it in double quotes
   For Example "Landing_Outcome"**

### Task 1




##### Display the names of the unique launch sites  in the space mission

In [10]:
%sql select DISTINCT Launch_Site from SPACEXTBL

 * sqlite:///my_data1.db
Done.

[('CCAFS LC-40',), ('VAFB SLC-4E',), ('KSC LC-39A',), ('CCAFS SLC-40',)]


### Task 2


#####  Display 5 records where launch sites begin with the string 'CCA'

In [15]:
%sql select  Launch_Site from SPACEXTBL where Launch_Site LIKE 'CCA%' LIMIT 5

 * sqlite:///my_data1.db
Done.

[('CCAFS LC-40',),
 ('CCAFS LC-40',),
 ('CCAFS LC-40',),
 ('CCAFS LC-40',),
 ('CCAFS LC-40',)]

### Task 3




##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [20]:
%sql select sum(PAYLOAD_MASS__KG_)  from SPACEXTBL where Payload LIKE '%CRS%'

 * sqlite:///my_data1.db
Done.

[(111268,)]

### Task 4




##### Display average payload mass carried by booster version F9 v1.1

In [24]:
%sql select avg(PAYLOAD_MASS__KG_)  from SPACEXTBL where booster_version LIKE '%f9 v1.1%'

 * sqlite:///my_data1.db
Done.

[(2534.6666666666665,)]

### Task 5

##### List the date when the first succesful landing outcome in ground pad was acheived.


_Hint:Use min function_

In [28]:
%sql select min(DATE) from SPACEXTBL WHERE Landing_Outcome LIKE '%Success%'
# %sql select DISTINCT Landing_Outcome from SPACEXTBL

 * sqlite:///my_data1.db
Done.

[('2015-12-22',)]

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [35]:
%sql select Booster_Version from SPACEXTBL where Landing_Outcome LIKE 'Success (drone ship)' AND PAYLOAD_MASS__KG_ between 4000 and 6000;

 * sqlite:///my_data1.db
Done.

[('F9 FT B1022',), ('F9 FT B1026',), ('F9 FT  B1021.2',), ('F9 FT  B1031.2',)]

### Task 7




##### List the total number of successful and failure mission outcomes

In [42]:
%sql select count(MISSION_OUTCOME) as missionoutcomes from SPACEXTBL GROUP BY MISSION_OUTCOME;
# %sql select DISTINCT MISSION_OUTCOME from SPACEXTBL

 * sqlite:///my_data1.db
Done.

[(1,), (98,), (1,), (1,)]

### Task 8



##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [45]:
%sql select BOOSTER_VERSION from SPACEXTBL where PAYLOAD_MASS__KG_= (select max(PAYLOAD_MASS__KG_) from SPACEXTBL);

 * sqlite:///my_data1.db
Done.

[('F9 B5 B1048.4',),
 ('F9 B5 B1049.4',),
 ('F9 B5 B1051.3',),
 ('F9 B5 B1056.4',),
 ('F9 B5 B1048.5',),
 ('F9 B5 B1051.4',),
 ('F9 B5 B1049.5',),
 ('F9 B5 B1060.2 ',),
 ('F9 B5 B1058.3 ',),
 ('F9 B5 B1051.6',),
 ('F9 B5 B1060.3',),
 ('F9 B5 B1049.7 ',)]

### Task 9


##### List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.

**Note: SQLLite does not support monthnames. So you need to use  substr(Date, 6,2) as month to get the months and substr(Date,0,5)='2015' for year.**

In [53]:
%sql SELECT substr(Date,6,2) as month,MISSION_OUTCOME,BOOSTER_VERSION,LAUNCH_SITE from SPACEXTBL where substr(Date,0,5)='2015';

 * sqlite:///my_data1.db
Done.

[('01', 'Success', 'F9 v1.1 B1012', 'CCAFS LC-40'),
 ('02', 'Success', 'F9 v1.1 B1013', 'CCAFS LC-40'),
 ('03', 'Success', 'F9 v1.1 B1014', 'CCAFS LC-40'),
 ('04', 'Success', 'F9 v1.1 B1015', 'CCAFS LC-40'),
 ('04', 'Success', 'F9 v1.1 B1016', 'CCAFS LC-40'),
 ('06', 'Failure (in flight)', 'F9 v1.1 B1018', 'CCAFS LC-40'),
 ('12', 'Success', 'F9 FT B1019', 'CCAFS LC-40')]

### Task 10




##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order.

In [56]:
%sql SELECT LANDING_OUTCOME, DATE FROM SPACEXTBL WHERE DATE BETWEEN '2010-06-04' AND '2017-03-20' ORDER BY DATE DESC;

 * sqlite:///my_data1.db
Done.

[('No attempt', '2017-03-16'),
 ('Success (ground pad)', '2017-02-19'),
 ('Success (drone ship)', '2017-01-14'),
 ('Success (drone ship)', '2016-08-14'),
 ('Success (ground pad)', '2016-07-18'),
 ('Failure (drone ship)', '2016-06-15'),
 ('Success (drone ship)', '2016-05-27'),
 ('Success (drone ship)', '2016-05-06'),
 ('Success (drone ship)', '2016-04-08'),
 ('Failure (drone ship)', '2016-03-04'),
 ('Failure (drone ship)', '2016-01-17'),
 ('Success (ground pad)', '2015-12-22'),
 ('Precluded (drone ship)', '2015-06-28'),
 ('No attempt', '2015-04-27'),
 ('Failure (drone ship)', '2015-04-14'),
 ('No attempt', '2015-03-02'),
 ('Controlled (ocean)', '2015-02-11'),
 ('Failure (drone ship)', '2015-01-10'),
 ('Uncontrolled (ocean)', '2014-09-21'),
 ('No attempt', '2014-09-07'),
 ('No attempt', '2014-08-05'),
 ('Controlled (ocean)', '2014-07-14'),
 ('Controlled (ocean)', '2014-04-18'),
 ('No attempt', '2014-01-06'),
 ('No attempt', '2013-12-03'),
 ('Uncontrolled (ocean)', '2013-09-29'),
 ('No attempt', '2013-03-01'),
 ('No attempt', '2012-10-08'),
 ('No attempt', '2012-05-22'),
 ('Failure (parachute)', '2010-12-08'),
 ('Failure (parachute)', '2010-06-04')]

### Reference Links

* <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>  

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*  <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

## Change log
| Date | Version | Changed by | Change Description |
|------|--------|--------|---------|
| 2021-07-09 | 0.2 |Lakshmi Holla | Changes made in magic sql|
| 2021-05-20 | 0.1 |Lakshmi Holla | Created Initial Version |

## <h3 align="center"> © IBM Corporation 2021. All rights reserved. <h3/>